### 3. List

Lists are used to store multiple items in a single variable. For instance, we may want to store many animals together.

```
animal1 = "tiger"
animal2 = "elephant"
animal3 = "dog"
```

However it may be difficult and inconvenient to access these individual animals. One easier way is to do the following:

```
animals = ["tiger", "elephant", "dog"]
```

Again, let's break down these statements step by step.

### 3.1 Defining lists

In [1]:
animals = ["tiger", "elephant", "dog"]
print

['tiger', 'elephant', 'dog']

During the definition of the list, we encapsulate the values in square brackets, seperated with commas. Here what we have is a list of strings. The strings in the list is "tiger", "elephant" and "dog". 

If we have numerical arrays we have the following:

In [2]:
int_array = 
print

[4, 7, 3]

This creates an array of three values 3, 4 and 7. There will be times where you may just want to create an empty array for the time being and then add values to the array. You will be able to achieve that with the following:

In [3]:
list = 
print

[]

### 3.2 List functions

Once again, one of the strengths of python is the in-built functions within the language. We see examples of these in-built functions in the list datatype. Some of these examples are for instance:


1. Getting the length of the array using the *len* keyword. This is one of the most common functions that you will be using. In the above example, the list consists of three elements, 4, 7 and 3. Hence the length of the array is three.

In [4]:
int_array = 
print

3

2. Getting the maximum / minimum value of an array using the *max / min* function keyword. This operation is useful at times. For instance in a class context, you may want to find who is getting the highest score in a quiz.

In [5]:
print
print

7
3

3. Sorting the list using the *sorted* function keyword. This is another useful function. Example, it allows you to sort the scores of a list from lowest to highest.

In [6]:
int_array = 
print

[3, 4, 7]

Note that the original array remains unchanged and if you want to store the sorted array, you will need to store it in another array.

In [7]:
int_array =

Before sort [4, 7, 3]
Result from sorted() [3, 4, 7]
After sorted() [4, 7, 3]
Result from sort() [3, 4, 7]
After sort() [3, 4, 7]

### 3.3 Accessing elements in a list

List elements are indexed starting from the number 0. Hence the first element of the list is at 0 and the last element of the list is at length -1. So if we want to find out the first element, we use index 0.

In [8]:
int_array = 
print

4

Recall the number of items in the list is 3, as indictated with the len function. Hence to get the last item on the list, we use the following command:

In [9]:
print
print

3
3

Notice that we have the len(int_array) - 1. The minus 1 is required because the array starts from index 0.

```
int_array = [4, 7, 3]
```

index 0: number 4

index 1: number 7

index 2: number 3

If we try to access the array at index 3, we will get the following error:

In [10]:
int_array = 
print
print
print

4
7
3

### 3.3 Adding and removing elements

There are a few functions that allow you to add and remove elements. Some of these examples are append, remove and insert. These operations allow you to manipulate the array during the execution of the program. For instance the command we used earlire was only to initialize the array.

```
int_array = [4, 7, 3]
```

However many times we need to add elements into the array, remove or insert at certain positions. We will go through three functions how to carry these operations out.

**Append**

This operation adds an element to the end of the array. Notice that the original array is changed. The syntax is the following:
```
append (value)
```

And the value will be added to the very end of the array.

In [11]:
int_array =

[4, 7, 3]
[4, 7, 3, 8]

If we use the len function taught in the earlier section, you would also notice that the length of the array has increased by one. The length of the array is now equals to four.

In [12]:
print

4

**Insert**

The insert operation is used to insert an element in a certain location. The syntax is the following:
```
insert (index, value)
```
Which inserts the value within the array at location index. All elements after index are shifted one position to the right.

In [13]:
int_array =

[4, 7, 9, 3, 4, 19]
[4, 7, 6, 9, 3, 4, 19]
[4, 7, 6, 9, 3, 4, 12, 19]
[4, 7, 6, 9, 3, 4, 12, 19, 18]

Note that if you give insert an index greater than the number of elements in the string, it turns into an append statement.

In [14]:
int_array =

[4, 7, 6, 9, 3, 4, 12, 19, 18]
[4, 7, 6, 9, 3, 4, 12, 15, 19, 18]
[4, 7, 6, 9, 3, 4, 12, 19, 18]
[4, 7, 6, 9, 3, 4, 12, 15, 19, 18]

Note that negative indexing works in the insert statement. It will insert the element two elements before the end of the array.

**Remove**

The remove operation can be used to remove a certain element from the array. They syntax is the following:
```
remove(value)
```

And the first occurance of value within the array will be removed. For instance if we wish to remove the element 3 from the array, we will do the following

In [15]:
int_array =

[4, 7, 4]
3

Notice that the element 3 is gone. However if there are duplicated elements in the array list, only the first element of the array will be removed. This is illustrated when we try to remove the element 4.

[7, 4]
2

Note that only the first occurance of the element 4 is removed.

**Pop**

Pop is used when we wish to remove elements located at certain indexes of the array. They syntax is the following:

```
pop(index)
```

where the index of the element to be removed is stated in the index variable.

In [17]:
int_array =

[4, 7, 6, 9, 3, 4, 12, 19, 18]
[4, 7, 6, 9, 4, 12, 19, 18]
[4, 7, 6, 9, 4, 12, 18]

### 3.4 Indexing elements within a list

**Range indexing of elements in list**

Recall earlier that arrays start from index 0. We are also able to access the list via the colon character. The syntax is

```
array_name[start_index : end_index]
```

Note that the number of elements returned will be up to (end_index - 1), meaning that the element at

```
array_name[end_index]
```

is not returned. The last element to be returned is

```
array_name[end_index - 1]
```

Hence the number of items returned is end_index - start_index.

In [18]:
int_array =

[4, 7, 9, 9, 15, 19]
[9, 9]

Do note that if we do not include the end index, it is automatically assigned to the end of the list.

In [19]:
int_array =

[4, 7, 9, 9, 15, 19]
[9, 9, 15, 19]

**Negative indexing elements within an array**

We discussed a little bit on negative indexing of elements. How that works is the following:

if index 0 is the first element on the list, then index -1 is the last element on the list. Likewise, index -2 is the second last element on the list.

In [20]:
int_array =

[4, 7, 9, 9, 15, 19]
19
15

Hence if we have int_array[-4:-2], we are taking the last fourth element and the last third element from the back of the list.

In [21]:
int_array =

[4, 7, 9, 9, 15, 19]
[9, 9]
[4, 7]

### 3.5 Checking if an element is within the list or not

Python has a very intuitive way of checking if it contains an element or not. There are at least two ways of doing this check. In the first way, we are able to use the in built function known as *count*. The syntax is:

```
count(value)
```

The count function counts the number of times an element of value is present within the list.

In [22]:
int_array =

2

The other method is just using the typical syntax in if else statements

```
if value in int_array:
  some other things here
```

In [23]:
int_array =

no tree, no three!

*Exercise 3.1*

Carry out the following steps:

1.   Create a list called temp_list with the following items: 17, 40.2, “test work", True.

2.   Append "hello world" and 17 to the list.

3.   Insert the value "testing" at the 4th position (index = 4).

4.   Insert the value "starting" at the start of the list.

5.   Find the index of "hello world".

6.   Count the number of 17s in the list.

7.   Remove the first occurrence of 17 from the list.

8.   Remove True from the list using pop and index.

[17, 40.2, 'test work', True]
[17, 40.2, 'test work', True, 'hello world', 17]
[17, 40.2, 'test work', True, 'testing', 'hello world', 17]
['starting', 17, 40.2, 'test work', True, 'testing', 'hello world', 17]
6
2
['starting', 40.2, 'test work', True, 'testing', 'hello world', 17]
['starting', 40.2, 'test work', 'testing', 'hello world', 17]

*Exercise 3.2*

Add item 555 after 444 in the following Python List

list1 = [1, [22, [333, 444], 55], 6, 7]

Expected output:
list1 = [1, [22, [333, 444, 555], 55], 6, 7]

[1, [22, [333, 444], 55], 6, 7]
[1, [22, [333, 444, 555], 55], 6, 7]