# This is a markdown cell with 1st header.

## This is a markdown cell with 2nd header.
### Header size can vary within cells
#### Headers are nested within cells of higher headers.

This is a markdown cell with no header.

This is a raw text cell. It doesn't display markdown formats.

In [1]:
# This is a code cell. It runs python code.

In [2]:
# Note the index on the left increasing when you run the cell.

In [3]:
# Even if there is no actual code running.

In [4]:
# Unless there is nothing in the cell like the one above.

# Skip the basics of python.

# Learning IPython.display.

IPython.display is very useful when dealing with pandas DataFrames and other libraries that can access the HTML framework.

## Importing the library.

In [5]:
from IPython.display import display

## A quick setup of pandas.DataFrame

In [6]:
import pandas as pd
df = pd.DataFrame({'Column 1':['C1V1', 'C1V2', 'C1V3'],'Column 2':['C2V1', 'C2V2', 'C2V3']})

## printing dataframe with print()

In [7]:
print(df)

  Column 1 Column 2
0     C1V1     C2V1
1     C1V2     C2V2
2     C1V3     C2V3

## printing dataframe with display()

In [8]:
display(df)

  Column 1 Column 2
0     C1V1     C2V1
1     C1V2     C2V2
2     C1V3     C2V3

## transposing a dataframe

In [9]:
display(df.T)

             0     1     2
Column 1  C1V1  C1V2  C1V3
Column 2  C2V1  C2V2  C2V3

# Learning the 'for x in X:' series.

## Series vs Lists

In [10]:
ones = df['Column 1'] # Series extracted from dataframe.
twos = df['Column 2'].tolist() # Series converted to list.
threes = ['C3V1', 'C3V2', 'C3V3'] # Standard list.
fours = pd.Series(['C4V1', 'C4V2', 'C4V3']) # Series made from a list.

In [11]:
print('This is a series object. It includes a list accompanied by an index.')
print(ones)
print()
display(ones)
print('Note print() and display() are the same when dealing with lists and series.')

This is a series object. It includes a list accompanied by an index.
0    C1V1
1    C1V2
2    C1V3
Name: Column 1, dtype: object

0    C1V1
1    C1V2
2    C1V3
Name: Column 1, dtype: object

Note print() and display() are the same when dealing with lists and series.

In [12]:
print('This is a list made from a series.')
print(twos)
print()
display(twos)
print('List prints differently from series.')

This is a list made from a series.
['C2V1', 'C2V2', 'C2V3']

['C2V1', 'C2V2', 'C2V3']

List prints differently from series.

In [13]:
print('Series is different from a list object.')
print(threes)

Series is different from a list object.
['C3V1', 'C3V2', 'C3V3']

In [14]:
print('You can also make a series from a list.')
print(fours)

You can also make a series from a list.
0    C4V1
1    C4V2
2    C4V3
dtype: object

## Zipping lists

In [15]:
list1 = ['A', 'B', 'C', 'D', 'E']
list2 = ['X', 'Y', 'Z', 1, 2]

In [16]:
for item in list1: # iterating through list1
    print(item)
print()
for item in list2: # iterating through list2
    print(item)

A
B
C
D
E

X
Y
Z
1
2

In [17]:
list12 = zip(list1, list2) # zipping lists creates a SINGLE USE iterator of touples (coupled variables).

In [18]:
print(list12) # printing it directly doesn't change it. but it doesn't display anything useful.

<zip object at 0x00000271EEBC52C0>

In [19]:
print('First iteration.')
for item in list12: # iterating through it the first time
    print(item)
print('It prints fine.')
print()
print('Second iteration.')
for item in list12: # iterating through it the second time
    print(item)
print('It is gone. WTF?')

First iteration.
('A', 'X')
('B', 'Y')
('C', 'Z')
('D', 1)
('E', 2)
It prints fine.

Second iteration.
It is gone. WTF?

In [20]:
list12 = list(zip(list1, list2)) # if we convert the zip([A, B], [C, D]) object <(A, C), (B, D)> to list of touples [(A, C), (B, D)], it becomes more permanent.
print(list12)

[('A', 'X'), ('B', 'Y'), ('C', 'Z'), ('D', 1), ('E', 2)]

In [21]:
print('You can iterate once.')
for item in list12: # iterating through it the first time
    print(item)
print()
print('You can iterate more than once!')
for item in list12: # iterating through it the second time
    print(item)

You can iterate once.
('A', 'X')
('B', 'Y')
('C', 'Z')
('D', 1)
('E', 2)

You can iterate more than once!
('A', 'X')
('B', 'Y')
('C', 'Z')
('D', 1)
('E', 2)

In [22]:
for item1, item2 in list12: # you can retrieve the elements of a zip as separate variables.
    print(f'{item1} /\\ {item2}')

A /\ X
B /\ Y
C /\ Z
D /\ 1
E /\ 2

In [23]:
list3 = ['L', 'M', 'N', 'O', 'P']
list123 = zip(list1, list2, list3) # You can zip multiple lists as long as they're the same size.

print()
for item1, item2, item3 in list123:
    print(f'{item1} / {item2} \\ {item3}')

A / X \ L
B / Y \ M
C / Z \ N
D / 1 \ O
E / 2 \ P

## Enumerators

In [24]:
list1 = ['A', 'B', 'C', 'D', 'E']
enumlist = enumerate(list1) # creates a SINGLE USE touple of index/item pair.
print(enumlist) # printing it directly doesn't change it. but it doesn't display anything useful.

<enumerate object at 0x00000271EEBB30B0>

In [25]:
print('First.')
for item in enumlist: # iterating through it the first time
    print(item)
print('It works.')
print()
print('Second.')
for item in enumlist: # iterating through it the second time
    print(item)
print('It is gone!')

First.
(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'E')
It works.

Second.
It is gone!

In [26]:
enumlist = list(enumerate(list1)) # similar to zip, you can store enumerate objects as a list of touples.
print(enumlist)

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

In [27]:
print('First.')
for item in enumlist: # iterating through it the first time
    print(item)
print('It works.')
print()
print('Second.')
for item in enumlist: # iterating through it the second time
    print(item)
print('It still works.')

First.
(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'E')
It works.

Second.
(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'E')
It still works.

In [28]:
for index, item in enumlist: # you can retrieve the elements of a enumerate object as separate variables.
    print(f'{index} /\\ {item}')
    print('-')

0 /\ A
-
1 /\ B
-
2 /\ C
-
3 /\ D
-
4 /\ E
-

# EOF

In [29]:
# We print something at the end of the file to understand that the code ran without encountering fatal errors.
print('No Err')

No Err