## 4. For and While Loops

### 4.1 Introducing the for loop statement

For loops allow you to run a series of statements, or various pieces of code until a certain condition is reached. 

**Eating Eating**

For example, let's say you are very hungry and you cannot and won't stop eating for as long as you are hungry. Hence, the for loop condition for your decision making is:

```
for as long as my stomach is hungry,
  I will take another mouth of this icecream.
```

So what you do is that you eat a mouth of ice-cream. Then you think if you stomach is still hungry or not. Obviously the answer is no, and hence you will continue eating the ice-cream.

What we have seen here are two things. The first is the condition (also known as the terminating condition):

```
Is my stomach still hungry?
```

the second is the "action":

```
Eat another mouth of ice cream
```

These are the two elements of a for loop which you should always have.

**The Wantan Man**

In the second example, imagine yourself at 5am, at the wantan noodle store before the store is open. It will not be surprising to see the wantan man wrapping wantan using the meat around the flour skin. In his mind, he is saying that today I need to wrap (e.g.) 500 wantans, then his for loop will be:

```
for number of wantans less than 500,
  wrap wantan
```

### 4.2 Importance of the for loop

Such loops are important in computer programs as in real life. For example, if you are wearing shoes, you loop is,

```
for as long as feet is still bare:
  wear shoes
```

```
for as long as mind is bored:
  play game (maybe genshin impact)
```

```
for as long as legs are not tired:
  run faster
```

In computer programming, this is also very common. For example, if you are updating the scores of students, one common statement that could happen is,

```
for all students in the class:
  add one mark to their quiz 2
```

### 4.3 Example for loop

Let's say that there is list of students in the class, known as student list, and the list of their quiz 2 scores.

In [1]:
student_list = ['amy', 'ben', 'cody']
student_quiz_2 = [50, 60, 70]

In [2]:
for

amy
ben
cody

Let's break down the earlier statements one by one. The first part:

```
student_list = ['amy', 'ben', 'cody']
student_quiz_2 = [50,60,70]
```

Declares two lists / array. The first list is the list of student names in a course (if your name is one of the three names here, it is purely coincidental). The second list declares their scores for quiz 02. So Amy gets a score of 50, Ben a score of 60 and Cody a score of 70. 

In the second part, we see the following:

```
for student in student_list:
  print(student)
```

**First method of using a for loop**

This means that for each of the student we find within the list, we will be printing out the name of the student. On a broad level, this means that the statement

```
for each_item in full_list
```

will iterate through every item in the full_list.

The syntax is the following:

1.   We first have the for loop terminating condition.
2.   After the condition we have the colon character.
3.   Below the colon character and indented, will be code block within the for loop.

In [3]:
for

amy
the name above is also a student
ben
the name above is also a student
cody
the name above is also a student

If we do not have the indentation correct, notice that the last line will only be printed once as it is not within the for loop.

In [4]:
for

amy
ben
cody
the name above is also a student

Let's look at the next part of the example. Recall that in a list, we are able to access the individual elements through an index. Hence if we want to add in ten marks to every student in the list, one way of doing that is:

```
student_quiz_2[0] += 10
student_quiz_2[1] += 10
student_quiz_2[2] += 10
```

Note that 

```
student_quiz_2[0] += 10
```

```
student_quiz_2[0] = student_quiz_2[0] + 10
```

are the same.

**Second method of using a for loop**

But of course you will definately say that typing such instructions is a waste of time. Hence the proper way of doing that will be:

In [5]:
for

amy
ben
cody

In [6]:
student_list = ['amy', 'ben', 'cody']
student_quiz_2 = [50, 60, 70]

3

In [8]:
for

0 amy scores has been increase to 60
1 ben scores has been increase to 70
2 cody scores has been increase to 80

Note that the student scores have increased by 10 points. Lets break down what the for loop is saying. In the earlier paragraph, we talked about accessing each element manually, by accessing the index one by one. What the for loop does is by automating this iteration of the index. The variable i holds the value of the index. 

If we are to print out the value of i, we get:

In [9]:
for

0
1
2

We see that the value of i increases from 0 all the way to 2. The value of 2 is determined by the length of the array. This length of array is obtained from the command:

3

So if we convert the first line to english, it means

```
for i in range(len(student_quiz_2)):
  print(i)
```

Iterate the value of i, from the value of 0 to length of array student_quiz_2. For each value of i, print it out. We will be speaking more on this range function shortly. After updating the quiz scores, we will be able to print out the names and their scores.

In [11]:
for

amy scored 60
ben scored 70
cody scored 80

*Exercise 4.1*

Find the sum of all elements in a list.

In [12]:
# Do not delete this cell. This exercise requires this list.
temp_list = [4,6,2,5,7,4,5,2,4]

39

39

*Exercise 4.2*

Find the maximum element in a list.

7

7

*Exercise 4.3*

Find the average of a list.

4.333333333333333

### Section 4.4 Range command

The previous example of the for loop used the range command with the length of the list. The syntax of the for the range is the following:

```
range(end_value)
```

When we have only one parameter in the range function, it means we will iterate from 0, to the value of end_value in steps of 1.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Note that the range value ends at end_value - 1. What this means is that it does not end at 10, but at 9.

```
range(start_value, end_value)
```

When we have two parameters in the range function, it means we will iterate from start_value, to the value of end_value in steps of 1.

[5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]

```
range(start_value, end_value, step)
```

When we have three parameters in the range function, it means we will iterate from start_value to the value of end_value in steps of the value of variable step.

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

*Exercise 4.4*

Write a code to print the numbers from 5 to 10 (both numbers inclusive).

5
6
7
8
9
10

*Exercise 4.5*

Find the sum of all odd elements in a list.

In [22]:
# Do not delete this cell. This exercise requires this list.
temp_list = [4,6,2,5,7,4,5,2,4]

17

*Exercise 4.6*

Find the sum of every third element in a list, starting from the third element.

10

### Section 4.5 Index, Break and Continue

**Index**

At times you may also want to get the index as well as the element in the for loop. You can do it with the following command:

0 4
1 6
2 2
3 5
4 7
5 4
6 5
7 2
8 4

**Continue**

There are times when within the loop, you may want to exit the loop prematurely, or ignore certain parts of the list. For example, if we have a list and we want to sum up all its values, other than the value in index 4. How this is done is the following:

32

**Break**

There are also times where you want to exit the loop altogether. For instance, if we wish to sum up all the values in a list until we hit index 5.

12

*Exercise 4.7*

Write a for loop to count the number of elements in temp_list that is divisible by 3.

1

### 4.6 Introducing the while loop statement

The earlier section discussed about for loops, where we talk about us eating for as long as we are hungry.

In this section, we have another similar control flow statement called the while loop. You can consider the while loop to look something like the following:
```
I am hungry
while still hungry:
  eat wantan mee
  ask myself if i am still hungry
```
Similar to for control statements, while loops contains four items:
* initialization of a variable which will be tested in the while loop
* a condition to be tested (True or False)
* statements to be run as long as condition is true
* update the variable to be tested

Lets look at an example to make this more concrete. Assume we want to print out the text "hey" five times. The for loop version will look like this:

hey
hey
hey
hey
hey

The while loop version will look like the following:

hey
hey
hey
hey
hey

hey
hey
hey
hey
hey

We will be using one variable to keep track of the loop. This variable needs to be initialized at the start before the while loop. Everytime before the while loop is executed, the variable is tested to check. Within the while loop, you execute the print statement. It is also important to update the variable explicitly.

*Exercise 4.8*

Can every for loop be converted to a while loop?

*Exercise 4.9*

Convert the following for loops into while loop:

0 amy
1 ben
2 cody

0 amy
1 ben
2 cody

*Exercise 4.10*

Convert the following for loops into while loop:

15

15

*Exercise 4.11*

Given the following piece of code, what will be the value of the number at the end of the while loop?

```
count = 1
while count < 100:
  print(count)
  count = count * 3
```

1
3
9
27
81
final number = 243

*Exercise 4.12*

Given the following piece of code, what will be the value of the number at the end of the while loop?

```
count = 1
while count >= 1:
  print(count)
  count = count + 1
```

*Exercise 4.13*

Write a While Loop that would increment number by 10 until number > 100. The initial value of number is 0.
* if the number is >= 10, print "foo"  
* if the number is >=50, print "bar"